---
import correo from "./img/correo.png"
import fblogo from "./img/facebook.png"
import iglogo from "./img/instagram.png"
import wsplogo from "./img/whatsapp.png"
import celllogo from "./img/telf.png"
---

<section class="bg-gray-300 w-full py-10 h-auto justify-center items-center">
    <div class="flex items-center w-full h-auto justify-around">
        <h2 class="text-5xl text-red-900 font-bold">TASA CON NOSOTROS</h2>
        <div class="flex">
            <img src={correo.src} alt="">
            <img src={fblogo.src} alt="">
            <img src={iglogo.src} alt="">
            <img src={wsplogo.src} alt="">
            <img src={celllogo.src} alt="">
        </div>
    </div>
</section>