---
import calendar from "./img/calendario.png"
import camera from "./img/camara.png"
import location from "./img/edificio.png"
import door from "./img/puerta-abierta.png"
import size from "./img/metro-cuadrado.png"
import house from "./img/casa.png"
---

<section class="flex w-full flex-col gap-8 px-4 py-16 md:px-16 lg:px-32 bg-gray-900 text-white">
    <div class="flex items-center justify-between">
        <p class="text-3xl">Ultimas Propiedades</p>
        <a class="bg-amber-500 text-2xl rounded-2xl px-10 py-2" href="">Ver Todas</a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="flex justify-center items-center flex-col bg-gray-400 rounded-lg "> 
            <img src="https://placehold.co/600x400" alt="Property Image" class="w-full h-auto rounded-lg shadow-lg rounded-b-none ">
            <div class="flex justify-between items-center w-full bg-gray-600 text-2xl px-2 py-2 font-bold">
                <h2>U$D <span>$1.500</span></h2>
                <img src={house.src} class="w-10" alt="House Icon">
            </div>
            <div class="flex flex-row justify-center font-bold text-black items-center w-full bg-gray-400 gap-4 py-4">
                <img src={size.src} class="w-7" alt="Size Icon">
                <p>180m</p>
                <img src={door.src} class="w-7" alt="Door Icon">
                <p>4 amb</p>
                <img src={calendar.src} class="w-7" alt="Calendar Icon">
                <p>A estrenar</p>
            </div>
            <div class="flex items-star justify-center gap-3 p-5 w-full flex-col ">
                <h3 class="text-black font-bold text-2xl">Mariano Moreno 1500 Moron</h3>
                <span class="text-xl text-gray-600">PH en Venta</span>
                <p>PH al frente 4 ambientes. Living Comedor gigante.</p>
            </div>
            <div class="flex items-center justify-between w-full p-4">
                <h3 class="text-black font-bold">Cod: <span>14341341</span></h3>
                <a href="/contact" class="bg-amber-600 p-2 px-6 rounded-full">Contactar</a>
            </div>
        </div>

        <div class="flex justify-center items-center flex-col bg-gray-400 rounded-lg "> 
            <img src="https://placehold.co/600x400" alt="Property Image" class="w-full h-auto rounded-lg shadow-lg rounded-b-none ">
            <div class="flex justify-between items-center w-full bg-gray-600 text-2xl px-2 py-2 font-bold">
                <h2>U$D <span>$1.500</span></h2>
                <img src={house.src} class="w-10" alt="House Icon">
            </div>
            <div class="flex flex-row justify-center font-bold text-black items-center w-full bg-gray-400 gap-4 py-4">
                <img src={size.src} class="w-7" alt="Size Icon">
                <p>180m</p>
                <img src={door.src} class="w-7" alt="Door Icon">
                <p>4 amb</p>
                <img src={calendar.src} class="w-7" alt="Calendar Icon">
                <p>A estrenar</p>
            </div>
            <div class="flex items-star justify-center gap-3 p-5 w-full flex-col ">
                <h3 class="text-black font-bold text-2xl">Mariano Moreno 1500 Moron</h3>
                <span class="text-xl text-gray-600">PH en Venta</span>
                <p>PH al frente 4 ambientes. Living Comedor gigante.</p>
            </div>
            <div class="flex items-center justify-between w-full p-4">
                <h3 class="text-black font-bold">Cod: <span>14341341</span></h3>
                <a href="/contact" class="bg-amber-600 p-2 px-6 rounded-full">Contactar</a>
            </div>
        </div>
    </div>
</section>